<header class="flex justify-between lg:justify-center items-center py-8 px-2">
  <a class="text-black no-underline" href="{{ '/' | url }}">
    <h1 class="text-2xl md:text-3xl font-bold">
      opheliagame
    </h1>
  </a>
</header>