<header class="flex justify-between lg:justify-center items-center py-8 px-2">
  <a class="text-black no-underline" href="{{ '/' | url }}">
    <h1 class="text-3xl md:text-4xl lg:text-4xl font-bold uppercase md:tracking-widest">
      <p class="skew animate-flutter inline-block">o</p>
      <p class="skew animate-flutter inline-block">p</p>
      <p class="skew animate-flutter inline-block">h</p>
      <p class="skew animate-flutter inline-block">e</p>
      <p class="skew animate-flutter inline-block">l</p>
      <p class="skew animate-flutter inline-block">i</p>
      <p class="skew animate-flutter inline-block">a</p>
      <p class="skew animate-flutter inline-block">g</p>
      <p class="skew animate-flutter inline-block">a</p>
      <p class="skew animate-flutter inline-block">m</p>
      <p class="skew animate-flutter inline-block">e</p>
    </h1>
  </a>
</header>