---
layout: main

---

<h3 class="text-lg font-semibold uppercase">{{ title }}</h3>

<div class="flex flex-row">
  {% for tag in tags %}
    <main-tag name={{tag}}></main-tag>
  {% endfor %}
</div>

{{ content | safe }}