
{% block list %}
  <a href="{{ link | url }}">
  {% set title = title.split('') %}
    <div class="text-lg md:text-2xl uppercase flex flex-row justify-between md:justify-end md:overflow-none">
      {% for letter in title %}
        <p class="md:pl-{{(loop.length-loop.index+1)*3.5}} md:animate-expand">
          <span> {{ letter }} </span>
        </p>
      {% endfor %}
      {% for letter in title %}
        <p class="hidden md:block md:pl-{{(loop.length-loop.index+1)*3.5}} md:animate-expand">
          <span> {{ letter }} </span>
        </p>
      {% endfor %}
      {% for letter in title %}
        <p class="hidden md:block md:pl-{{(loop.length-loop.index+1)*3.5}} md:animate-expand">
          <span> {{ letter }} </span>
        </p>
      {% endfor %}
      {% for letter in title %}
        <p class="hidden md:block md:pl-{{(loop.length-loop.index+1)*3.5}} md:animate-expand">
          <span> {{ letter }} </span>
        </p>
      {% endfor %}
    </div>
  </a>
  
  <div class="list-container md:grid md:grid-cols-3 md:grid-flow-row md:border-lime-200 md:bg-lime-200 md:gap-1">
    {% for item in listitems %}

    <div class="bg-pink-200 md:p-2">
      <div class="py-2">
        {% if openLinkInNewTab %}
        <a href={{item.url}} target="_blank">
        {% else %}
        <a href={{item.url}} >
        {% endif %}
          <h3 class="text-sm md:text-xl font-semibold pb-1">
            <span class="link-primary">{{ item.data.title }}</span> 
          </h3>
        </a>
        <p class="text-xs md:text-lg"> {{ item.data.description }} </p>
        <div class="flex flex-row flex-wrap gap-x-2">
          {% for tag in item.data.tags %}
            <main-tag name={{tag}}></main-tag>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 


{% endblock %}
