/* ::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}  */

html {
  height: 100%;
}

.markdown-list li::marker {
  content: "> ";
}

.markdown-list li {
  padding: 0.2rem;
}

/* .markdown-list {
  font-size: 0.875rem;
  line-height: 1.25rem;
} */

.green-border {
  border-image: repeating-linear-gradient(30deg, #4ade80, #fff) 60;
}

body {
  font-family: 'Inconsolata';
}

/* svg {
  height: 70vh;
} */

.language-glsl {
  font-size: small !important;
}

@media (min-width: 768px) { 
  .language-glsl {
    font-size: medium !important;
  }

  .list-container {
    border-width: 0.25rem;
  }
}

a:-webkit-any-link {
    cursor: pointer;
}

:not(svg) {
  transform-origin: 0px 0px;
}

picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
}