---
path: draft-poetry
date: 2022-01-24
title: draft | d3(x)poetry
layout: blog
tags: 
    - project
    - 2021
description: 'a poetry experiment with d3 and pad.ma archives'
---

{% include "whitespace.njk" %}