---
path: 36daysoftype-2021
date: 2022-01-06
title: 36 Days of Type
layout: blog
tags: 
    - project
    - 2021
description: 'taking on the 36 days of type challenge using paperjs'
---

<div class="flex flex-col gap-y-2 py-2
            md:grid md:gap-4 md:grid-cols-3 md:grid-flow-row
            font-hindi">
    {% for letter in type %}
    <a href="{{letter.ig_url}}" target="_blank"
        class="flex flex-col gap-y-1 p-1 bg-lime-200
                hover:shadow-md 
                border-2 border-lime-200 hover:border-pink-400">
        <h3 class="flex-1 px-0.5">{{letter.caption}}</h3>
        <img src={{letter.src}} alt={{letter.alt}}>
    </a>
    {% endfor %}
</div>