---
layout: banner
---

<div>
  <div class="text-sm md:text-lg">
    <p>Hi, there 👋 I am a web developer and technical art enthusiast. Coding, for me, continues to be a medium of creative expression, whether it is making websites or shader sketches. </p>
    <p>I was a part of the <a target="_blank" class="link-primary" href="http://freefall.dra-ft.site/">freefall</a> exhibition curated by <a target="_blank" class="link-primary" href="https://dra-ft.site/">dra.ft</a> for the <a target="_blank" class="link-primary" href="https://eliterature.org/elo2021/">Electronic Literature Organisation 2021 conference</a>, during which I worked with text and archival platforms. </p>
    <p>As a visual artist, I performed my first ever visual set at <a target="_blank" class="link-primary" href="https://www.instagram.com/algorave_india">Algorave India</a> for their <a target="_blank" class="link-primary" href="https://youtu.be/bViDWh7mOnA?t=4116">Third Anniversary Party</a>. </p>
    <p>I was also one of the organisers of <a target="_blank" class="link-primary" href="https://processingindia.com/2021">Processing Community Day India 2021</a> and continue to draw inspiration from this wonderful community of creative coding practitioners. </p>
  </div>
</div>
