---
layout: main
---

<div class="text-xs">Hi, there 👋 I am a web developer and technical art enthusiast. Coding, for me, continues to be a medium of creative expression, whether it is making websites or shader sketches. I was a part of the freefall exhibition curated by dra.ft for the Electronic Literature Organisation 2021 conference, during which I worked with text and archival platforms. As a visual artist, I performed my first ever visual set at Algorave for their Third Anniversary Party. I was also one of the organisers of Processing Community Day India 2021 and continue to draw inspiration from this wonderful community of creative coding practitioners. </div>
