---
layout: base

---

{# <div class="text-sm">Anushka aka opheliagame is a web developer and technical art enthusiast. Coding, for her, continues to be a medium of creative expression, whether it is making websites or shader sketches. She was a part of the freefall exhibition curated by dra.ft for the Electronic Literature Organisation 2021 conference, during which she worked with text and archival platforms. As a visual artist, she performed her first ever visual set at Algorave for their Third Anniversary Party. She was also one of the organisers of Processing Community Day India 2021 and continues to draw inspiration from this wonderful community of creative coding practitioners.</div>

<br>

{% include "blog.njk" %}

<br> #}

<?xml version="1.0" standalone="no"?>
{{ "/src/static/assets/triangle.svg" | svgContents("w-full") | safe }}
{# <img src="/static/assets/triangle.svg" alt="" style="width:100%"> #}
