---
layout: main
title: opheliagame
---


{{ "/src/assets/img/eye.svg" | svgContents("w-full") | safe }}
{# <script type="text/paperscript" canvas="myCanvas" src="{{ 'assets/js/triangle.js' | url }}"></script>
<canvas id="myCanvas" class="w-full" style="height: 70vh"></canvas> #}