---
layout: main
pagination:
  data: collections
  size: 10
  alias: tag
permalink: /tags/{{ tag }}
---

{% set title = "tags" %}
{% set listitems = pagination.items[ tag ] %}
{{ listitems | log }}
{% include "list.njk" %}