---
layout: main
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  link: /tags/{{ tag | slug }}/
  title: "{{ tag | slug }}"
---

{% set listitems = collections[ tag ] %}
{% include "list.njk" %}